.contianer {
  width: 75%;
  height: 60%;
  background-color: palevioletred;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.name-container {
  width: 100%;
  padding: 0 1rem;
  display: flex;
  box-sizing: border-box;
}

.name-container input {
  width: 100%;
}

.contianer p {
  margin: 0.5rem 0;
}
